@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    font-family: poppins;
    background-color: #5d7a85;
    color: #fff;
    display: flex;
    flex-direction: column;

}


main {
    flex: 1;
    padding: 20px;
}


footer,
header {
    background-color: #153f45;
    padding: 20px;
    text-align: center;
}


footer header {
    margin-top: 0;
}

/* section.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
} */

/* .gallery-item {
    width: 45%;
    /* background-color: #00213c;
    padding: 10px;
    border-radius: 5px; */
/* display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

/* .gallery-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 4px;
} */

section.services ul {
    padding-left: 20px;
}

.texte {
    position: relative;
    text-align: center;
    display: flex;
    top: 50%;
    left: 20%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-size: 20px;
}

.navbar {
    /* position: absolute; */
    margin: 20px;
    display: flex;

    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    height: 50%;

}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.navbar .nav-links ul li {
    margin: 0 25px;

}

.navbar .nav-links ul li a:hover {
    color: rgb(176, 203, 255);

}

.navbar .nav-links ul li.active a {
    color: blue;
    font-weight: 600;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
    transform: translateY(-50%);
    cursor: pointer;
}

.slider {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
    
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.slide.active {
    display: block;
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.btn {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
}

.btn:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

@media screen and (max-width:900px) {

    .navbar .menu-hamburger {
        display: block;
        cursor: pointer;
        z-index: 20;
    }

    .nav-links {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(8px);
        z-index: 10;
    }

    .texte {
        position: absolute;
        text-align: center;
        right: 20%;
        display: flex;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }


    .nav-links.mobile-menu {
        display: flex;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
    }

    .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }

    .nav-links ul li a {
        color: #fff;
        text-decoration: none;
    }

    .nav-links ul li a:hover {
        color: rgb(176, 203, 255);
    }
}